<!DOCTYPE html>
<html lang="en" class="side-nav-main-pile bottom-nav-sliding-content">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="https://cdn.usefathom.com/script.js" data-site="RCGPNGBM" defer></script><script src="https://unpkg.com/htmx.org@1.9.11/dist/htmx.min.js" defer></script><link rel="preload" href="../assets/fonts/HankenGrotesk-Italic-VariableFont_wght.woff2" as="font" type="font/woff2">
<link rel="preload" href="../assets/fonts/HankenGrotesk-VariableFont_wght.woff2" as="font" type="font/woff2">
<link rel="stylesheet" href="../assets/css/min.e.css">
<link rel="stylesheet" media="(orientation:landscape)" href="../assets/css/5.compositions/side-nav-main-pile.css">
<link rel="stylesheet" media="(orientation:portrait)" href="../assets/css/5.compositions/bottom-nav-sliding-content.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<meta name="description" content="ECSS sets simple rules for simple styling. No more naming everything, no more technological dependencies. Only intentional, consistent, simple, expressive, predictable, sustainable CSS.">
<title>ECSS — Simple Rules for efficient CSS</title>
</head>
<link rel="stylesheet" href="../assets/css/4.regions/body.css">
<body>
<header><h1>ecss</h1>
<link rel="stylesheet" href="../assets/css/4.regions/nav.css">
<nav id="nav"><a href="#intro">Intro</a><a href="#values">Values</a><a href="#principles">Principles</a><a href="#rules">Rules</a><a href="#tools">Tools</a><a href="mailto:contact@ecss.info">Contact</a><a href="../fr" lang="fr">Français</a></nav></header><link rel="stylesheet" href="../assets/css/4.regions/main.css">
<main><noscript><p lang="en">JavaScript is disabled. Please go <a href="full.html">here</a> to access the full content.</p></noscript>
<div id="intro">
<header>
<h2 class="as-visually-hidden">
Introduction
</h2>
<p>Efficient CSS is all you need to avoid common styling problems.
Nothing more, really.</p>
<p><strong>ECSS sets simple rules for efficient styling.</strong> No
more naming everything, no more technological dependencies. Only
intentional, consistent, expressive, predictable, sustainable CSS.</p>
</header>
<div style="--DivItemBasis: 12rem;">
<section>
<h3 class="h4">
Want help enforcing rules?
</h3>
<p>👮 Gently nudge you and your team into ECSS.</p>
<p><a href="https://www.npmjs.com/package/@efficientcss/stylelint-config-ecss" class="button">Install the Stylelint config</a></p>
</section>
<section>
<h3 class="h4">
Eager to build something?
</h3>
<p>🏁 A quick &amp; efficient starting point is within reach!</p>
<p><a href="https://github.com/efficientcss/scaffolding">Clone the
scaffolding library (WIP)</a></p>
</section>
<section>
<h3 class="h4">
Want to know the beast?
</h3>
<p>📰 Go ahead and see what you think of it!</p>
<p><a href="#rules">Dive into ECSS rules</a></p>
</section>
<section>
<h3 class="h4">
Curious about it all?
</h3>
<p>Well, keep scrolling!</p>
</section>
</div>
<section>
<h2 id="why-ecss">Why ECSS?</h2>
<p>Because CSS as a language is misunderstood and undeservedly maligned.
Because simple rules and low impact tools can go a long way in making
sure the CSS codebase is light, simple and scalable. ECSS is a global
approach to producing efficient design systems with CSS.</p>
</section>
</div>
<section>
<h2 id="values">Values</h2>
<div style="--DivItemBasis: 20rem;">
<section>
<h3 id="intentionality">Intentionality</h3>
<p><strong>Clear objectives, rational decisions.</strong></p>
<p>Every parcel of CSS has an objective. This objective should be clear
to anyone reading the code. Be it HTML or CSS. Selectors are the perfect
vehicle for intentionality. ECSS incentivizes the use of rational
selectors.</p>
</section>
<section>
<h3 id="consistency">Consistency</h3>
<p><strong>Repeating patterns save time &amp; energy.</strong></p>
<p>Flexible naming guidelines give the codebase a consistency
encouraging standardization and reuse. Prefixes and usage guidelines
enforced through linting insures everyone on your team will follow ECSS
rules.</p>
</section>
<section>
<h3 id="simplicity">Simplicity</h3>
<p><strong>“Simple” is writing less code &amp; and limiting
dependencies.</strong></p>
<p>Class soup &amp; divitis aren’t simple. Untold numbers of <code class="sourceCode css"><span class="im">@media</span></code> queries
aren’t either. But modern CSS is. By accepting CSS for what it is (a
designing language!) you can do <em>a lot</em> of styling mileage with
very little code.</p>
</section>
<section>
<h3 id="expressivity">Expressivity</h3>
<p><strong>Code that speaks for itself is actually
achievable.</strong></p>
<p>“thumbnail as-circle with-border” is instantly understandable while
“h-10 w-10 bdr-50 br-1 overh” is not. Code should communicate
information. The clearer the information, the easier it is to understand
the system. Mistaken semantics should give way to expressiveness.
<em>Expressive best practices work.</em></p>
</section>
<section>
<h3 id="predictability">Predictability</h3>
<p><strong>Using simple but consistent authoring rules leads to
predictability.</strong></p>
<p>It feels good to dive into unknown code… while already knowing what
it looks like. Consistency, repeating patterns, simplicity (yes, again)
all coalesce into predictable code. And predictable code means less
stress, less friction and happier teams!</p>
</section>
<section>
<h3 id="sustainability">Sustainability</h3>
<p><strong>Vanilla CSS is future ready.</strong></p>
<p>In practice it means being at the forefront of progress and
evolution. No need to wait for third parties to implement new features.
You can use <code class="sourceCode css">clamp<span class="in">()</span></code> as of now
and say goodbye to 80% of your media queries. No more <code class="sourceCode html">sm-this md-that</code>. Only clean and modern
code.</p>
</section>
</div>
</section>
<link rel="stylesheet" href="../assets/css/6.components/of-side-by-side-h-p.css">
<section class="of-side-by-side-h-p as-numbered-list">
<h2 id="principles">Guiding principles</h2>
<article>
<h3 id="designing-language">CSS is a <em>designing</em> language, not a
scripting one.</h3>
<p>CSS authoring should reflect <em>design</em> patterns, concepts and
perspectives. With global (sorry) scales, tokens, rules, etc. you limit
repetition and facilitate future styling extension.</p>
</article>
<article>
<h3 id="design-empowerment">Empowering designers to refine their work
autonomously is efficient.</h3>
<p>Making the needed parts of CSS being intelligible (code-savvy or
not!) to designers cuts stress, time and promotes good allocation of
human resources. Refining design in the browser is a great vector of
economic profitability.</p>
</article>
<article>
<h3 id="properties-not-equal">Not all CSS properties are born
equal.</h3>
<p>The box-model properties (<code class="sourceCode css">display</code>, <code class="sourceCode css">position</code>, <code class="sourceCode css">width</code>, etc.) are extremely sensitive and
potentially way more disruptive than, say, color or typographic ones.
The former are the stuff of professional CSS authors and the latter are
the ones designers should be able to use, modify and experiment with in
context.</p>
</article>
<article>
<h3 id="specific-role">Properties &amp; units have specific roles and
usage.</h3>
<p>Limiting their use to these roles enhances clarity and promotes
consistency as well as predictability. The same goes for units. Some
suggest type, others, images or rhythm. Use them intentionally &amp;
rationally to communicate meaning.</p>
</article>
<article>
<h3 id="component-structure">Components and patterns <em>need</em>
structure.</h3>
<p>Trying to abstract it away is vain. Instead, documentation and
dilligence are key. HTML is semantically rich, so choose the right tags
and refrain from changing them for superficial reasons. One would not
remove or change <code class="sourceCode html">class="header"</code> without
understanding its purpose first, then one should not change or remove
<code class="sourceCode html"><span class="dt">&lt;</span><span class="kw">header</span><span class="dt">&gt;&lt;/</span><span class="kw">header</span><span class="dt">&gt;</span></code>
on a whim either.</p>
</article>
<article>
<h3 id="selector-intention">CSS Selectors are vehicles for
intention.</h3>
<p>Every selector particle must have a purpose and if not, must be
discarded with. This extraneous <code class="sourceCode css">div</code>
in <code class="sourceCode css"><span class="fu">.card</span> div h2</code> is
what makes CSS brittle. These are <em>not</em> <a href="https://adamwathan.me/css-utility-classes-and-separation-of-concerns/">“best
practices”</a>.</p>
</article>
<article>
<h3 id="selector-function">Selector types all have a function.</h3>
<p>Each one of them may be of use in a certain context. No absolute
usage rule should be edicted. It’s not “always” or “never” but “it
depends” and “why”. Absolute rules absolutely corrupt. Or something like
that.</p>
</article>
<article>
<h3 id="harness-specificity">Selection specificity should be harnessed,
not rejected.</h3>
<p>Nevertheless, “always” (ahem) keep it as low as possible. Yes, in
2015 it may have not been easy. But it’s 2023 and <a href="https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Cascade_layers">new</a>
<a href="https://developer.mozilla.org/en-US/docs/Web/CSS/:where">features</a>
are now widely supported. Use them.</p>
</article>
<article>
<h3 id="global-scope">Global scope in CSS is not a sin.</h3>
<p>Remember, <em>CSS is a designing language</em> and the global scope
fits perfectly in design’s fundamentally layered, dimensional approach.
Programming best practices are not necessarily designing best practices.
Embrace design best practices.</p>
</article>
<article>
<h3 id="global-rules">Global design rules must be largely anonymous
&amp; unqualified.</h3>
<p>Only a few declarations per ruleset only. We are talking rhythm,
typography, color; not <code class="sourceCode css">display</code> or
<code class="sourceCode css">position</code>. <em>This</em> is the way
of limiting repetition, bloat &amp; complexity.</p>
</article>
<article>
<h3 id="understood-concept">One should wait until a concept is clearly
understood before naming it.</h3>
<p>Until then use HTML elements. Premature abstraction or <a href="https://en.wikipedia.org/wiki/Overengineering">“solving problems
not yet encountered”</a> are bigger problems than the use of <code class="sourceCode css">header</code> in CSS. Yes, these are programming
best practices. But who told you CSS development was pure design?</p>
</article>
<article>
<h3 id="rule-repetition">When more than 3 rules are repeated more than 3
times, a concept <em>is</em> emerging.</h3>
<p>Rules should then be concentrated by naming and using said concept
instead of the bare rules. Reusability, expressivity and simplicity are
then greatly improved.</p>
</article>
<article>
<h3 id="autonomous-concept">Named concepts must be autonomous and
self-sufficient.</h3>
<p>Named concepts should not be defined inside another named concept. If
it ever is necessary, the child concept must be internal to the parent
concept and is <em>not</em> to be reused anywhere else.</p>
</article>
<article>
<h3 id="concept-manipulation">Manipulating named concepts throughout
multiple files is strictly prohibited.</h3>
<p>All rules for a named concept must reside in the same, unique CSS
file. For authors and maintainers to have confidence in the system,
there must a single <a href="https://en.wikipedia.org/wiki/Single_source_of_truth">source of
truth</a> for any concept.</p>
</article>
<article>
<h3 id="child-concepts">State, variant or structural are child concepts
and must be namespaced &amp; prefixed.</h3>
<p>These concepts may be represented as child or combined classes. Never
to be used alone, always alongside the parent concept. Yes, here are
both “never” <em>and</em> “always” in the same sentence. <a href="https://www.youtube.com/watch?v=Z58eTP2gcw0">“Double jeopardy, we
are fine”</a>.</p>
</article>
<article>
<h3 id="child-specificity">Namespaced classes should generally be
implemented with specificity reducing selectors.</h3>
<p>Unless otherwise needed, one should strive to keep specificity at 21
or below. With a preference for around 10 to 12. Modern and widely
supported pseudo-selectors must here be used.</p>
</article>
<article>
<h3 id="selector-efficiency">One may not come up at first with the
efficient way to select interface elements.</h3>
<p>One’s intention may not be clear at the beginning of a styling job.
Instead of fruitlessly trying and trying, a code “quarantine” file
should be temporarily used until the right selection manifests itself.
Still, no quarantine file should ever be published publicly.</p>
</article>
<article>
<h3 id="expressive-html">HTML should be as simple and expressive as can
be.</h3>
<p>Refrain from over-containing, don’t use <code class="sourceCode html"><span class="dt">&lt;</span><span class="kw">div</span><span class="dt">&gt;</span></code>
where you could use <code class="sourceCode html"><span class="dt">&lt;</span><span class="kw">aside</span><span class="dt">&gt;</span></code>.
Dont wrap your single-level navigation in unordered lists. And yes,
simple navigation is <a href="https://dockyard.com/blog/2019/11/29/using-nav-without-a-list-element">accessible</a>.
Keep it simple… Suzy.</p>
</article>
<article>
<h3 id="one-role">Any HTML element should endorse one role only.</h3>
<p>As per the famous programming <a href="https://en.wikipedia.org/wiki/Single-responsibility_principle">best
practice</a> (again, programming in designing), semantic tags are for…
semantics whilst <code class="sourceCode html"><span class="dt">&lt;</span><span class="kw">div</span><span class="dt">&gt;</span></code>
or <code class="sourceCode html"><span class="dt">&lt;</span><span class="kw">span</span><span class="dt">&gt;</span></code>
tags are for graphical or logical division. Any type of grid should be
implemented with <code class="sourceCode html"><span class="dt">&lt;</span><span class="kw">div</span><span class="dt">&gt;</span></code>
tags.</p>
</article>
<article>
<h3 id="adaptation-included">Any <code class="sourceCode css"><span class="im">@media</span></code> query
adaptation must be included in its related concept’s file.</h3>
<p>Not as as a separate file, not as suffixed classes. If one uses
utility classes, the provided rules should not be query dependent but
rather be universally needed, in every media configuration.</p>
</article>
<article>
<h3 id="global-stylesheet">Whole stylesheets are better used when
global.</h3>
<p>Media query scopes should be used in HTML <code class="sourceCode html"><span class="dt">&lt;</span><span class="kw">link</span><span class="dt">&gt;</span></code>
tags to promote reuse, performance and optimization concerns. Each
fundamental design layer should be autonomous, independent and
removable.</p>
</article>
<article>
<h3 id="component-styling">Component styling should only be served with
live components.</h3>
<p>Not as a big minified file in the <code class="sourceCode html"><span class="dt">&lt;</span><span class="kw">head</span><span class="dt">&gt;</span></code>
tag of the document. This way, the infamous problem of loading unused
CSS is practically solved, without any technological debt. First render
is also faster since only what is used is processed by the browser. As a
bonus, you get the CSS file path in component file.</p>
</article>
<article>
<h3 id="browser-rendering">Let the browser do as much of the rendering
work as it can.</h3>
<p>By embracing fluidity, adaptativity is mostly done by the browser.
Less rules are needed to insure correct rendering in the infinite number
of usage contexts.</p>
</article>
<article>
<h3 id="devtools">Make full use of freely available development tools by
going with the grain of the Web platform.</h3>
<p>By using “just-in-time” rulesets, design tokens, the cascade and
intentional selection, the debugging &amp; refining workflow is simpler,
lighter and clearer. Devtools are our friends!</p>
</article>
<article>
<h3 id="native-code">Eschewing technological abstractions like
high-level frameworks spurs lighter, simpler native code.</h3>
<p>By writing native CSS, one uses CSS better; by writing native HTML,
one writes HTML better. With better CSS and better HTML comes a better
user experience.</p>
</article>
</section>
<link rel="stylesheet" href="../assets/css/6.components/of-side-by-side-text-code.css">
<section class="of-side-by-side-text-code">
<h2 id="rules">Authoring rules</h2>
<!-- - [TODO] : use of style attributes with custom properties. -->
<article>
<div>
<div>
<header>
<h3 id="selector-filename">All component selectors <em>must</em> start
with its filename.</h3>
</header>
<section>
<h4 id="principles-1">Principles</h4>
<ul>
<li><a href="#autonomous-concept">Autonomous concepts</a></li>
<li><a href="#concept-manipulation">Concept manipulation</a></li>
</ul>
</section>
<section>
<h4 id="notes">Notes</h4>
<p>To exclude a file from this rule in the <strong>Stylelint</strong>
config, prefix the filename with a digit or “x-” as in
“x-quarantine.css”</p>
</section>
</div>
<aside>
<h4 class="as-visually-hidden" id="example">Example</h4>
<div>
<div class="sourceCode" id="cb1" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb1" data-hx-trigger="intersect once"></div>
<div class="sourceCode" id="cb2" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb2" data-hx-trigger="intersect once"></div>
</div>
</aside>
</div>
</article>
<hr>
<article>
<div>
<div>
<header>
<h3 id="padding-irregular">All paddings should first be uniform and then
be adjusted if necessary.</h3>
</header>
<section>
<h4 id="principles-2">Principles</h4>
<ul>
<li><a href="#specific-role">Specific role</a></li>
</ul>
</section>
<section>
<h4 id="notes-1">Notes</h4>
<p>Non-uniform paddings may be used in particular instances for <code class="sourceCode css">overflow</code> reasons or for added
pseudo-content. Without these reasons, non-uniform spacing may be better
created with margins.</p>
</section>
</div>
<aside>
<h4 class="as-visually-hidden" id="example-1">Example</h4>
<div>
<div class="sourceCode" id="cb3" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb3" data-hx-trigger="intersect once"></div>
<div class="sourceCode" id="cb4" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb4" data-hx-trigger="intersect once"></div>
</div>
</aside>
</div>
</article>
<hr>
<article>
<div>
<div>
<header>
<h3 id="content-padding">Paddings are to be applied on containing and
interactive elements only.</h3>
</header>
<section>
<h4 id="principles-3">Principles</h4>
<ul>
<li><a href="#one-role">One role only</a></li>
</ul>
</section>
<section>
<h4 id="notes-2">Notes</h4>
<p>Text elements should only host text styles while container elements
can host theming styles. In some instances, container elements could
host text styles to be inherited by children.</p>
</section>
</div>
<aside>
<h4 class="as-visually-hidden" id="example-2">Example</h4>
<div>
<div class="sourceCode" id="cb5" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb5" data-hx-trigger="intersect once"></div>
<div class="sourceCode" id="cb6" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb6" data-hx-trigger="intersect once"></div>
</div>
</aside>
</div>
</article>
<hr>
<article>
<div>
<div>
<header>
<h3 id="content-margin">Horizontal margins should not be applied to text
elements.</h3>
</header>
<section>
<h4 id="principles-4">Principles</h4>
<ul>
<li><a href="#specific-role">Specific roles and usage</a></li>
<li><a href="#one-role">One role only</a></li>
</ul>
</section>
<section>
<h4 id="notes-3">Notes</h4>
<p>Horizontal margins can be applied to text elements in the case of
<code class="sourceCode css">inline</code> elements such as icons or
tags &amp; on indented elements like <code class="sourceCode html">blockquote</code>.</p>
</section>
</div>
<aside>
<h4 class="as-visually-hidden" id="example-3">Example</h4>
<div>
<div class="sourceCode" id="cb7" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb7" data-hx-trigger="intersect once"></div>
<div class="sourceCode" id="cb8" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb8" data-hx-trigger="intersect once"></div>
</div>
</aside>
</div>
</article>
<hr>
<article>
<div>
<div>
<header>
<h3 id="type-inheritance">Typographic elements should use inheritance
when possible.</h3>
</header>
<section>
<h4 id="principles-5">Principles</h4>
<ul>
<li><a href="#specific-role">Specific roles and usage</a></li>
<li><a href="#global-scope">Global scope</a></li>
</ul>
</section>
<section>
<h4 id="notes-4">Notes</h4>
<p>Inheritance allows for high-level styling. With little code, we cast
a wide net while limiting specificity to a minimum.</p>
</section>
</div>
<aside>
<h4 class="as-visually-hidden" id="example-4">Example</h4>
<div>
<div class="sourceCode" id="cb9" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb9" data-hx-trigger="intersect once"></div>
<div class="sourceCode" id="cb10" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb10" data-hx-trigger="intersect once"></div>
</div>
</aside>
</div>
</article>
<hr>
<article>
<div>
<div>
<header>
<h3 id="design-tokens">Design tokens should be used for most numerical
values.</h3>
</header>
<section>
<h4 id="principles-6">Principles</h4>
<ul>
<li><a href="#designing-language">Designing language</a></li>
<li><a href="#design-empowerment">Designer empowerment</a></li>
<li><a href="#devtools">Development tools</a></li>
</ul>
</section>
<section>
<h4 id="notes-5">Notes</h4>
<p>Numerical values should only be used for exceptional alignments.
These should be commented to communicate the intent. Even then, why not
create a bespoke property meaningfully named?</p>
</section>
</div>
<aside>
<h4 class="as-visually-hidden" id="example-5">Example</h4>
<div>
<div class="sourceCode" id="cb11" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb11" data-hx-trigger="intersect once"></div>
<div class="sourceCode" id="cb12" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb12" data-hx-trigger="intersect once"></div>
</div>
</aside>
</div>
</article>
<hr>
<article>
<div>
<div>
<header>
<h3 id="conjoined-properties">Conjoined properties should be kept
together using nesting.</h3>
</header>
<section>
<h4 id="principes">Principes</h4>
<ul>
<li><a href="#selector-intention">Selector intention</a></li>
<li><a href="#selector-function">Selector function</a></li>
<li><a href="#component-structure">Component structure</a></li>
</ul>
</section>
<section>
<h4 id="notes-6">Notes</h4>
<p>Certain properties need to be joined to others, using a precise
structure, to be functional. It is important to keep this relationship
clear and explicit. Nesting simply fulfills this role.</p>
</section>
</div>
<aside>
<h4 class="as-visually-hidden" id="exemple">Exemple</h4>
<div>
<div class="sourceCode" id="cb13" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb13" data-hx-trigger="intersect once"></div>
<div class="sourceCode" id="cb14" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb14" data-hx-trigger="intersect once"></div>
</div>
</aside>
</div>
</article>
<hr>
<article>
<div>
<div>
<header>
<h3 id="repeating-default-rules-is-discouraged.">Repeating default rules
is discouraged.</h3>
</header>
<section>
<h4 id="principles-7">Principles</h4>
<ul>
<li><a href="#selector-intention">Selector intention</a></li>
<li><a href="#selector-function">Selector function</a></li>
</ul>
</section>
<section>
<h4 id="notes-7">Notes</h4>
<p>Any instance of repeating default <em>must</em> be justified in a
comment.</p>
</section>
</div>
<aside>
<h4 class="as-visually-hidden" id="example-6">Example</h4>
<div>
<div class="sourceCode" id="cb15" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb15" data-hx-trigger="intersect once"></div>
<div class="sourceCode" id="cb16" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb16" data-hx-trigger="intersect once"></div>
</div>
</aside>
</div>
</article>
<hr>
<article>
<div>
<div>
<header>
<h3 id="prefixed-entities">All class entities besides components
<em>must</em> be prefixed.</h3>
</header>
<section>
<h4 id="principles-8">Principles</h4>
<ul>
<li><a href="#child-concepts">Child concepts</a></li>
<li><a href="#selector-intention">Selector intention</a></li>
<li><a href="#selector-function">Selector function</a></li>
<li><a href="#autonomous-concept">Autonomous concepts</a></li>
</ul>
</section>
<section>
<h4 id="notes-8">Notes</h4>
<p>Modifying components and entities across the code base, from one file
to another, is the greatest source of unpredictability (and probably
frustration) in CSS development. By forcing the use of explicit and
exclusive prefixes, CSS becomes substantially more predictable,
expressive and robust.</p>
<p>We propose this nomenclature of prefixes:</p>
<ul>
<li>
<code class="sourceCode css">as-</code>: generic graphic form.</li>
<li>
<code class="sourceCode css">of-</code>: group of elements.</li>
<li>
<code class="sourceCode css">is-</code> interactive state of the
system.</li>
<li>
<code class="sourceCode css">on-</code>: user interaction.</li>
<li>
<code class="sourceCode css">to-</code>: functional role.</li>
<li>
<code class="sourceCode css">__</code>: internal entity.</li>
<li>
<code class="sourceCode css">with-</code>: functional rule.</li>
<li>
<code class="sourceCode css">from-<span class="op">*</span>-to-</code>:
adaptive patterns.</li>
</ul>
</section>
</div>
<aside>
<h4 class="as-visually-hidden" id="example-7">Example</h4>
<div>
<div class="sourceCode" id="cb17" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb17" data-hx-trigger="intersect once"></div>
<div class="sourceCode" id="cb18" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb18" data-hx-trigger="intersect once"></div>
</div>
</aside>
</div>
</article>
<hr>
<article>
<div>
<div>
<header>
<h3 id="nested-selectors">Nested selectors must start with <code class="sourceCode css"><span class="op">&amp;</span></code>.</h3>
</header>
<section>
<h4 id="principes-1">Principes</h4>
<ul>
<li><a href="#selector-function">Selector function</a></li>
</ul>
</section>
<section>
<h4 id="notes-9">Notes</h4>
<p>The use of <code>&amp;</code> in the selection makes the nesting
explicit and prevents comprehension errors due to long nestings.</p>
</section>
</div>
<aside>
<h4 class="as-visually-hidden" id="exemple-1">Exemple</h4>
<div>
<div class="sourceCode" id="cb19" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb19" data-hx-trigger="intersect once"></div>
<div class="sourceCode" id="cb20" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb20" data-hx-trigger="intersect once"></div>
</div>
</aside>
</div>
</article>
<hr>
<article>
<div>
<div>
<header>
<h3 id="nesting-level">Nesting is restricted to two levels only.</h3>
</header>
<section>
<h4 id="principles-9">Principles</h4>
<ul>
<li><a href="#child-concepts">Child concepts</a></li>
<li><a href="#selector-intention">Selector intention</a></li>
</ul>
</section>
<section>
<h4 id="notes-10">Notes</h4>
<p>Nesting can encourage authoring on autopilot, without thinking about
our selection intention. That’s one reason why we will ultimately write
<code class="sourceCode css"><span class="fu">.card</span> div h2</code>
instead of <code class="sourceCode css"><span class="fu">.card</span> h2</code>,
fragilizing our CSS. One level of nesting should be enough almost all
cases.</p>
</section>
</div>
<aside>
<h4 class="as-visually-hidden" id="example-8">Example</h4>
<div>
<div class="sourceCode" id="cb21" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb21" data-hx-trigger="intersect once"></div>
<div class="sourceCode" id="cb22" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb22" data-hx-trigger="intersect once"></div>
</div>
</aside>
</div>
</article>
<hr>
<article>
<div>
<div>
<header>
<h3 id="specific-sizes">The use of specific sizes should be
avoided.</h3>
</header>
<section>
<h4 id="principles-10">Principles</h4>
<ul>
<li><a href="#properties-not-equal">Properties are not equal</a></li>
<li><a href="#specific-role">Specific role</a></li>
<li><a href="#browser-rendering">Browser rendering</a></li>
</ul>
</section>
<section>
<h4 id="notes-11">Notes</h4>
<p>The Web is fluid and authoring should embrace this fluidity. By
choosing to limit dimensions of our components instead of dictating
them, we delegate work to the browser, letting it do its job. Fixed
dimensions should be only be applied to graphical elements like
pictures, videos and icons.</p>
</section>
</div>
<aside>
<h4 class="as-visually-hidden" id="example-9">Example</h4>
<div>
<div class="sourceCode" id="cb23" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb23" data-hx-trigger="intersect once"></div>
<div class="sourceCode" id="cb24" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb24" data-hx-trigger="intersect once"></div>
</div>
</aside>
</div>
</article>
<hr>
<article>
<div>
<div>
<header>
<h3 id="use-attribute-selectors-to-convey-unicity.">Use attribute
selectors to convey unicity.</h3>
</header>
<section>
<h4 id="principles-11">Principles</h4>
<ul>
<li><a href="#selector-intention">Selector intention</a></li>
<li><a href="#specific-role">Specific role</a></li>
<li><a href="#harness-specificity">Harness specificity</a></li>
</ul>
</section>
<section>
<h4 id="notes-12">Notes</h4>
<p>Ids convey meaning but their CSS selector is a specificity nightmare.
Use attribute selector to keep the meaning (unicity!) while keeping
specificiy at sane levels. Other use cases includes form controls &amp;
inputs and js managed states (ie: <code class="sourceCode css"><span class="ex">[</span><span class="ss">data-state</span><span class="op">=</span><span class="st">"active"</span><span class="ex">]</span></code>)</p>
</section>
</div>
<aside>
<h4 class="as-visually-hidden" id="example-10">Example</h4>
<div>
<div class="sourceCode" id="cb25" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb25" data-hx-trigger="intersect once"></div>
<div class="sourceCode" id="cb26" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb26" data-hx-trigger="intersect once"></div>
</div>
</aside>
</div>
</article>
<hr>
<article>
<div>
<div>
<header>
<h3 id="the-use-of-positioning-and-display-rules-should-be-minimized.">The
use of positioning and display rules should be minimized.</h3>
</header>
<section>
<h4 id="principles-12">Principles</h4>
<ul>
<li><a href="#properties-not-equal">Properties are not equal</a></li>
<li><a href="#browser-rendering">Browser rendering</a></li>
</ul>
</section>
<section>
<h4 id="notes-13">Notes</h4>
<p>Use these properties only on elements needing them. Use the narrowest
selectors that makes sense in the context.</p>
</section>
</div>
<aside>
<h4 class="as-visually-hidden" id="example-11">Example</h4>
<div>
<div class="sourceCode" id="cb27" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb27" data-hx-trigger="intersect once"></div>
<div class="sourceCode" id="cb28" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb28" data-hx-trigger="intersect once"></div>
</div>
</aside>
</div>
</article>
<hr>
<article>
<div>
<div>
<header>
<h3 id="overqualified-selectors">Overqualified selectors are
discouraged.</h3>
</header>
<section>
<h4 id="principles-13">Principles</h4>
<ul>
<li><a href="#harness-specificity">Harness specificity</a></li>
<li><a href="#selector-intention">Selector intention</a></li>
</ul>
</section>
<section>
<h4 id="notes-14">Notes</h4>
<p>Class entities should not be combined with tag selectors. Generic
selectors can be used as a selection piece but not as qualifiers.
Exceptionally, certain specific tags such as <code class="sourceCode css">html</code> or <code class="sourceCode css">body</code> could be used to restrict the
application of a class entity.</p>
</section>
</div>
<aside>
<h4 class="as-visually-hidden" id="example-12">Example</h4>
<div>
<div class="sourceCode" id="cb29" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb29" data-hx-trigger="intersect once"></div>
<div class="sourceCode" id="cb30" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb30" data-hx-trigger="intersect once"></div>
</div>
</aside>
</div>
</article>
<hr>
<article>
<div>
<div>
<header>
<h3 id="component-outside">Components cannot exert outside
influence.</h3>
</header>
<section>
<h4 id="principles-14">Principles</h4>
<ul>
<li><a href="#autonomous-concept">Autonomous concepts</a></li>
<li><a href="#properties-not-equal">Properties are not equal</a></li>
<li><a href="#specific-role">Specific roles and usage</a></li>
</ul>
</section>
<section>
<h4 id="notes-15">Notes</h4>
<p>Components are made to fit into “holes”. These holes are managed by
another component or a higher-level utility (e.g. a grid or carousel).
No component in this sense should incorporate margins. These are applied
as a rhythm by a parent. Thus, the components are versatile and reusable
in various contexts.</p>
</section>
</div>
<aside>
<h4 class="as-visually-hidden" id="example-13">Example</h4>
<div>
<div class="sourceCode" id="cb31" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb31" data-hx-trigger="intersect once"></div>
<div class="sourceCode" id="cb32" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb32" data-hx-trigger="intersect once"></div>
</div>
</aside>
</div>
</article>
<hr>
<article>
<div>
<div>
<header>
<h3 id="overflow-hidden">Overflow should not be hidden.</h3>
</header>
<section>
<h4 id="principles-15">Principles</h4>
<ul>
<li><a href="#browser-rendering">Browser rendering</a></li>
<li><a href="#properties-not-equal">Properties are not equal</a></li>
</ul>
</section>
<section>
<h4 id="notes-16">Notes</h4>
<p>By hiding the way browsers treat overflowing items, we may hide
content without knowing. By using <code class="sourceCode css">auto</code> instead of <code class="sourceCode css">hidden</code>, the oveflowing content will be
accessible <em>and</em> the scrollbar will signal the design problem
instead of hiding it. Hiding scrollbars may be necessary in some
particular composition (see this very site’s portrait adaptation for an
example!).</p>
</section>
</div>
<aside>
<h4 class="as-visually-hidden" id="example-14">Example</h4>
<div>
<div class="sourceCode" id="cb33" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb33" data-hx-trigger="intersect once"></div>
<div class="sourceCode" id="cb34" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb34" data-hx-trigger="intersect once"></div>
</div>
</aside>
</div>
</article>
<hr>
<article>
<div>
<div>
<header>
<h3 id="numbered-classes">Numbers in class names are to be avoided.</h3>
</header>
<section>
<h4 id="principles-16">Principles</h4>
<ul>
<li><a href="#understood-concept">Wait before naming</a></li>
<li><a href="#selector-intention">Selector intention</a></li>
</ul>
</section>
<section>
<h4 id="notes-17">Notes</h4>
<p>Adding a number to a class demonstrates a poor understanding of its
role and communicates no clear intent. Ask yourself why you need to add
a number and use the answer to explicitly name your class. If you need
to use the structure to style certain elements, use the relevant
pseudo-classes instead.</p>
</section>
</div>
<aside>
<h4 class="as-visually-hidden" id="exemple-2">Exemple</h4>
<div>
<div class="sourceCode" id="cb35" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb35" data-hx-trigger="intersect once"></div>
<div class="sourceCode" id="cb36" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb36" data-hx-trigger="intersect once"></div>
</div>
</aside>
</div>
</article>
<hr>
<article>
<div>
<div>
<header>
<h3 id="magic-numbers">Magic numbers <em>must</em> be avoided or
explained in a line comment.</h3>
</header>
<section>
<h4 id="principles-17">Principles</h4>
<ul>
<li><a href="#designing-language">Designing language</a></li>
<li><a href="#design-empowerment">Designer empowerment</a></li>
<li><a href="#specific-role">Specific roles and usage</a></li>
</ul>
</section>
<section>
<h4 id="notes-18">Notes</h4>
<p>Value and unit choices should be dictated by the graphic language and
its design tokens. Absolute values in numerical form should be reserved
to special cases like bespoke icon alignment or bullet list padding. The
intention <em>must</em> be clear in itself or commented if not.</p>
</section>
</div>
<aside>
<h4 class="as-visually-hidden" id="example-15">Example</h4>
<div>
<div class="sourceCode" id="cb37" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb37" data-hx-trigger="intersect once"></div>
<div class="sourceCode" id="cb38" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb38" data-hx-trigger="intersect once"></div>
</div>
</aside>
</div>
</article>
<hr>
<article>
<div>
<div>
<header>
<h3 id="rhythm-must-be-applied-in-one-direction-only-preferably-top.">Rhythm
<em>must</em> be applied in one direction only, preferably top.</h3>
</header>
<section>
<h4 id="principles-18">Principles</h4>
<ul>
<li><a href="#designing-language">Designing language</a></li>
<li><a href="#specific-role">Specific roles and usage</a></li>
</ul>
</section>
<section>
<h4 id="notes-19">Notes</h4>
<p>Spacing is rhythm, a fundamental design concept. Rhythm occurs
<em>between</em> graphical elements and should be applied as such in
CSS. The <a href="https://alistapart.com/article/axiomatic-css-and-lobotomized-owls/" target="_blank">lobotomized owl</a> selector (<code class="sourceCode css"><span class="op">*+*</span></code>) is tailor
made for this task. When using a flex container, the <code class="sourceCode css">gap</code> property does it all for you!</p>
</section>
</div>
<aside>
<h4 class="as-visually-hidden" id="example-16">Example</h4>
<div>
<div class="sourceCode" id="cb39" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb39" data-hx-trigger="intersect once"></div>
<div class="sourceCode" id="cb40" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb40" data-hx-trigger="intersect once"></div>
</div>
</aside>
</div>
</article>
<hr>
<article>
<div>
<div>
<header>
<h3 id="the-use-of-problematic-units-is-discouraged.">The use of
problematic units is discouraged.</h3>
</header>
<section>
<h4 id="principles-19">Principles</h4>
<ul>
<li><a href="#specific-role">Specific roles and usage</a></li>
</ul>
</section>
<section>
<h4 id="notes-20">Notes</h4>
<p>Static viewport units (<code class="sourceCode css">vh</code>, <code class="sourceCode css">vw</code>, <code class="sourceCode css">vmin</code>, <code class="sourceCode css">vmax</code>) are famously problematic,
particularly when used as <code class="sourceCode css">100vh</code> or
<code class="sourceCode css">100vw</code>. <a href="https://caniuse.com/viewport-unit-variants" target="_blank">Dynamic viewport units</a> are better suited for this
task.</p>
</section>
</div>
<aside>
<h4 class="as-visually-hidden" id="example-17">Example</h4>
<div>
<div class="sourceCode" id="cb41" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb41" data-hx-trigger="intersect once"></div>
<div class="sourceCode" id="cb42" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb42" data-hx-trigger="intersect once"></div>
</div>
</aside>
</div>
</article>
<hr>
<article>
<div>
<div>
<header>
<h3 id="tag-selectors-should-be-leveraged-inside-components.">Tag
selectors should be leveraged inside components.</h3>
</header>
<section>
<h4 id="principles-20">Principles</h4>
<ul>
<li><a href="#component-structure">Component structure</a></li>
<li><a href="#expressive-html">Expressive HTML</a></li>
</ul>
</section>
<section>
<h4 id="notes-21">Notes</h4>
<p>Components need to prescribe a certain HTML structure. Using said
structure through intentional tag selectors is the best way to insure
structural persistence, to keep specificity and complexity low and
prevent naming fatigue. Why rename that which is already named?</p>
</section>
</div>
<aside>
<h4 class="as-visually-hidden" id="example-18">Example</h4>
<div>
<div class="sourceCode" id="cb43" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb43" data-hx-trigger="intersect once"></div>
<div class="sourceCode" id="cb44" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb44" data-hx-trigger="intersect once"></div>
</div>
</aside>
</div>
</article>
<hr>
<article>
<div>
<div>
<header>
<h3 id="one-entity-per-file-with-a-soft-cap-of-about-a-hundred-lines.">One
entity per file with a soft cap of about a hundred lines.</h3>
</header>
<section>
<h4 id="principles-21">Principles</h4>
<ul>
<li><a href="#autonomous-concept">Autonomous concepts</a></li>
<li><a href="#concept-manipulation">Concept manipulation</a></li>
</ul>
</section>
<section>
<h4 id="notes-22">Notes</h4>
<p>This is one of the most important rules for achieving sustainable
CSS. One autonomous concept per file prevents the multiplication of
overrides and redefinition across the codebase. It’s even easy to
enforce with the <a href="https://www.npmjs.com/package/@efficientcss/stylelint-config-ecss">ECSS
Stylelint config</a>.</p>
</section>
</div>
<aside>
<h4 class="as-visually-hidden" id="example-19">Example</h4>
<div>
<div class="sourceCode" id="cb45" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb45" data-hx-trigger="intersect once"></div>
<div class="sourceCode" id="cb46" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb46" data-hx-trigger="intersect once"></div>
</div>
</aside>
</div>
</article>
<hr>
<article>
<div>
<div>
<header>
<h3 id="selector-parts">Selectors <em>must</em> strictly include only
necessary selection parts.</h3>
</header>
<section>
<h4 id="principles-22">Principles</h4>
<ul>
<li><a href="#component-structure">Component structure</a></li>
<li><a href="#selector-intention">Selector intention</a></li>
<li><a href="#harness-specificity">Harness specificity</a></li>
</ul>
</section>
<section>
<h4 id="notes-23">Notes</h4>
<p>This mistake, being passed as “best practices”, is the source of many
self-induced CSS headaches. Fortunately, the solution is simple: <em>do
not use selection parts that you could remove without changing the
original intention</em>.</p>
</section>
</div>
<aside>
<h4 class="as-visually-hidden" id="example-20">Example</h4>
<div>
<div class="sourceCode" id="cb47" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb47" data-hx-trigger="intersect once"></div>
<div class="sourceCode" id="cb48" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb48" data-hx-trigger="intersect once"></div>
</div>
</aside>
</div>
</article>
<hr>
<article>
<div>
<div>
<header>
<h3 id="duplication-of-a-set-of-more-than-3-rules-is-discouraged.">Duplication
of a set of more than 3 rules is discouraged.</h3>
</header>
<section>
<h4 id="principles-23">Principles</h4>
<ul>
<li><a href="#rule-repetition">Rule repetition</a></li>
<li><a href="#autonomous-concept">Autonomous concepts</a></li>
</ul>
</section>
<section>
<h4 id="notes-24">Notes</h4>
<p>Repeating a pattern instead of naming it and grouping its rules
inside a unique declaration block is a classic CSS mistake. And it can
be hard to find and target instances of this problem. Tools like PostCSS
plugins can help by identifying repetition meeting a defined threshold
throughout a codebase.</p>
</section>
</div>
<aside>
<h4 class="as-visually-hidden" id="example-21">Example</h4>
<div>
<div class="sourceCode" id="cb49" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb49" data-hx-trigger="intersect once"></div>
<div class="sourceCode" id="cb50" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb50" data-hx-trigger="intersect once"></div>
</div>
</aside>
</div>
</article>
<hr>
<article>
<div>
<div>
<header>
<h3 id="the-use-of-the-global-scope-is-encouraged-for-all-fundamental-design-layers.">The
use of the global scope is encouraged for all fundamental design
layers.</h3>
</header>
<section>
<h4 id="principles-24">Principles</h4>
<ul>
<li><a href="#designing-language">Designing language</a></li>
<li><a href="#design-empowerment">Designer empowerment</a></li>
<li><a href="#global-scope">Global scope</a></li>
<li><a href="#global-rules">Global rules</a></li>
<li><a href="#harness-specificity">Harness specificity</a></li>
</ul>
</section>
</div>
<aside>
<h4 class="as-visually-hidden" id="example-22">Example</h4>
<div>
<div class="sourceCode" id="cb51" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb51" data-hx-trigger="intersect once"></div>
<div class="sourceCode" id="cb52" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb52" data-hx-trigger="intersect once"></div>
</div>
</aside>
</div>
</article>
<hr>
<article>
<div>
<div>
<header>
<h3 id="html-structure-should-be-as-flat-as-possible-and-bereft-of-single-tag-nesting.">HTML
structure should be as flat as possible and bereft of single tag
nesting.</h3>
</header>
<section>
<h4 id="principles-25">Principles</h4>
<ul>
<li><a href="#component-structure">Component structure</a></li>
<li><a href="#expressive-html">Expressive HTML</a></li>
</ul>
</section>
<section>
<h4 id="notes-25">Notes</h4>
<p>Sometimes it could make sense to add a div even if it’s the only
child. The case of a content grid comes to mind. See this page’s source
for an example.</p>
</section>
</div>
<aside>
<h4 class="as-visually-hidden" id="example-23">Example</h4>
<div>
<div class="sourceCode" id="cb53" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb53" data-hx-trigger="intersect once"></div>
<div class="sourceCode" id="cb54" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb54" data-hx-trigger="intersect once"></div>
</div>
</aside>
</div>
</article>
<hr>
<!-- ### Rulesets should be auto-sufficient and avoid implicit but necessary rules. (see #11, #12) -->
<article>
<div>
<div>
<header>
<h3 id="selector-specificity">Specificity <em>must</em> be kept as low
as possible.</h3>
</header>
<section>
<h4 id="principles-26">Principles</h4>
<ul>
<li><a href="#harness-specificity">Harness specificity</a></li>
<li><a href="#child-specificity">Child specificity</a></li>
</ul>
</section>
<section>
<h4 id="notes-26">Notes</h4>
<p>Sometimes it makes sense to add specificity. But don’t do it until
proven necessary.</p>
</section>
</div>
<aside>
<h4 class="as-visually-hidden" id="example-24">Example</h4>
<div>
<div class="sourceCode" id="cb55" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb55" data-hx-trigger="intersect once"></div>
<div class="sourceCode" id="cb56" data-hx-get="code-examples.html" data-hx-swap="outerHTML" data-hx-select="#cb56" data-hx-trigger="intersect once"></div>
</div>
</aside>
</div>
</article>
</section>
<section>
<h2 id="tools">Related tools</h2>
<ul>
<li>
<a href="https://www.npmjs.com/package/@efficientcss/stylelint-config-ecss">ECSS
Stylelint config</a> (get live authoring tips!)</li>
<li>
<a href="https://github.com/efficientcss/scaffolding">Scaffolding
&amp; code library</a> (use it… or not!)</li>
<li>
<a href="https://stylelint.io">Stylelint</a> (lint and inform)</li>
<li>
<a href="https://github.com/zmoazeni/csscss">CSSCSS</a> (find rule
duplication in your codebase)</li>
<li>
<a href="https://github.com/purifycss/purifycss">PurifyCSS</a>, <a href="https://github.com/FullHuman/purgecss">PurgeCSS</a> or Chrome
Coverage devtool</li>
</ul>
</section>
</main>
</body>
</html>
