@layer theming {
	/* Adaptation of the typography ----------------------- */
	@media (max-width: 60em) { :root { --Scale: var(--MajorSecond); } }
	@media (min-width: 60em) { :root { --Scale: var(--MinorThird); } }


	/* Typography based on system fonts ----------------------- */
	:root { font-family: var(--BaseFontStack, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"); }


	/* Typographic scale ----------------------- */
	h1, .h1 { --ScaleLevel: var(--Huger);}
	h2, .h2 { --ScaleLevel: var(--Huge); }
	h3, .h3 { --ScaleLevel: var(--Tall); }
	h4, .h4 { --ScaleLevel: var(--Tall); }
	h5, .h5 { --ScaleLevel: var(--Base); --LineHeightFactor: .75; }
	h6, .h6 { --ScaleLevel: var(--Short); --LineHeightFactor: .75; }

	h1, h2, h3, h4, h5, h6, 
	.h1, .h2, .h3, .h4, .h5, .h6 {
		--FontWeight: 800; 
	}

	strong {
		--FontWeight: 600;
	}
}

h1 {
	line-height: 1.125;
}

small {
	font-size: .75em;
}

main>div>header p {
	--ScaleLevel: var(--Taller);
	max-width: 50rem;
}

main>div>header p:first-child {
	font-weight: 800;
	--ScaleLevel: var(--Huge);
}


