@layer theming {
	/* Content rhythm ----------------------- */
	:not(:where(html, body, div, label, ul, ol, li, p, a, span))>:not(:where(link))+* {
		margin-top: var(--Row);
	}

	:is(h1, h2, h3, h4, h5, h6)+:is(h1, h2, h3, h4, h5, h6) {
		margin-top: calc(var(--Row) / 2);
	}

	h3+p {
		margin-top: calc(var(--Row) / 4);
	}

	*+li {
		margin-top: calc(var(--Row) / 4);
	}

	i+* {
		margin-left: calc(var(--Row) / 4);
	}

	/* *+:is(a, button) */

	/* *+is(input, select, textarea) */

	/* Basic container rhythm */
	main>*+* {
		margin-top: calc(var(--Row) * 3);
	}
}
