:root {
	--color-accent: lightgrey;
	--album-selector-width: 8px;
}


* {
	margin: 0;
	padding: 0;
}

html {
	scroll-snap-type: y proximity;
}

body {
	background-color: lightgrey;
	color: darkblue;
	font-family: "PP Neue Montreal", "Helvetica Neue", "sans-serif";
	font-size: clamp(13px, 1vw, 14px);
}

img {
	max-width: 100%;
}

menu {
	list-style: none;
}

body>aside {
	background-color: rgba(0,0,0,.2);
	padding: 20px;
}


a {
	color: inherit;
}

[id=artist-load-more] {
	display: block;
	block-size: 1px;
	pointer-events: none;
	opacity: 0;
}
.as-star-rating {
	position: relative;
	display: inline-grid;
	line-height: 1;
	letter-spacing: 0.15em;

	& .__base,
	& .__fill {
		grid-area: 1 / 1;
	}

	& .__fill {
		overflow: hidden;
		white-space: nowrap;
		inline-size: calc(var(--rating) - 1px);
	}
}

.album-mosaic {
	display: grid;
	grid-template-columns: 0px repeat(auto-fit, minmax(200px, 1fr));
	grid-template-rows: 1fr auto;

	&:has(:target) {
		grid-template-columns: minmax(400px, 2fr) repeat(auto-fit, minmax(200px, 1fr));

		& [data-type=artist]:not(:has([data-label=Artist]+dd:hover)) [data-type=album]:not(:has(:target)) header:not(:hover) {
			opacity: 0.25;

			& img {
				filter: saturate(0);
			}
		}
	}

	img {
		transition: 200ms, opacity 400ms, display allow-discrete;
		transition-delay: 0ms, calc((var(--album-index, 1) - 1) * 40ms), 0ms;

		@starting-style {
			opacity: 0;
		}

	}

	:root.is-scrolling-up & img {
		transition-delay: 0ms, calc((var(--album-count, 1) - var(--album-index, 1)) * 40ms), 0ms;
	}

	menu {
		position: absolute;
		color: transparent;
		z-index: -1;
	}

	[data-type=artist],
	[data-type=artist-section],
	[data-type=album] {
		display: contents;
	}

	[data-type=artist]:has([data-label=Artist]+dd:hover) {

		[data-type=album]:has(:target){
			&::before {
				filter: initial;
			}

			header img {
				opacity: 0.25;
				filter: saturate(0);
			}
		}

	}

	[data-type~="album"] {
		transition: background-color: 200ms, display allow-discrete;
		transition-delay: 0ms, calc((var(--album-index, 1) - 1) * 40ms), 0ms;
		&:empty {
			display: block;
			box-sizing: border-box;
			width: 100%;
			aspect-ratio: 1;
		}

		& :is(article, section, div) {
			display: contents;
		}

		& header {
			view-transition-name: none;
			scroll-snap-align: start;
		}

		&.is-visible header {
			view-transition-name: match-element;
		}

		&:has(:target) {

			&::before {
				content: "";

				border: var(--album-selector-width) solid black;
				filter: saturate(0) invert(1);
			}

			&::before, &::after {
				aspect-ratio: 1;
				background: top center / contain no-repeat var(--placeholder);
				display: block;
			}

			&:has(header:active)::after {
				content: "";
				position: fixed;
				top: 20px;
				right: 20px;
				bottom: 20px;
				z-index: 2;
			}

			& header::before {
				inset: 0;
			}

			[data-type=song]:target {
				order: -1;
			}

			nav {
				display: none;
			}


			&>div {
				order: -1;
				grid-row: 1 / span 999;
				grid-column: 1;
				display: flex;
				flex-direction: column;
				background-color: lightgrey;
				max-height: 100dvh;
				position: sticky;
				top: 0;
				overflow-y: auto;
				gap: 10px;


			}

			dl {
				display: grid;
				grid-template-columns: 1fr auto;
				margin-inline: 20px;

				&>* {
				}
			}

			[data-label=Album]+dd {
				order: -1;
				margin-top: 10px;
			}

			:is([data-label=Genre], [data-label=Year], [data-label=Rating]) {
				position: absolute;
				inset-block-end: anchor(start);

				&, &+dd {
					grid-column: initial;
				}

				&:where(:not([data-label=Rating]))+dd {
					margin-bottom: 40px;
				}

				&:where([data-label=Genre]) {
					position-anchor: --genre;
					inset-inline-start: anchor(start);

					&+dd {
						anchor-name: --genre;
					}
				}

				&:where([data-label=Year]) {
					position-anchor: --year;
					inset-inline-end: anchor(end);

					&+dd {
						anchor-name: --year;
						justify-self: end;
					}
				}

				&:where([data-label=Rating]) {
					position-anchor: --rating;
					inset-inline-end: anchor(end);

					&+dd {
						anchor-name: --rating;
						justify-self: end;
					}
				}
			}

			:is([data-label=Album], [data-label=Artist])+dd {
				font-size: 20px;
				grid-column: 1 / -1;
			}

			[data-label=Artist]+dd {
				margin-bottom: 40px;
				&::before {
					content: "by ";
					font-style: italic;
					font-weight: 100;
				}
			}

			& dt:is([data-label="Rating"], [data-label=Name])+dd {
				order: 2;
			}

			& [data-label=name i],
			& [data-label=album i],
			& [data-label=artist i] {
				display: none;
			}

			& [data-type=song]:not(:first-of-type) {
				dt, dt:not([data-label="Rating"]):not([data-label=Name])+dd {
					display: none;
				}

				dd {
					anchor-name: initial;
					margin-bottom: 0px;
				}
			}
		}


		&:hover header {
			z-index: 1;
		}

		&:not(:has(:target)) {
			dl {
				order: 2;
				grid-column: 2 / span 2;
				bottom: 0;
				display: grid;
				grid-template-rows: repeat(2, auto);
				grid-auto-flow: column;
				position: sticky;
				bottom: 0;
				padding: 20px;
				background-color: var(--color-accent);
				z-index: 2;
				align-self: end;
				justify-content: start;

				& dd {
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
					min-width: 200px;
				}

			}

			dt:where([data-label=Genre],[data-label=Year]) {
				&, &+dd {
					display: none;
				}
			}

			[data-type=song] dl {
				grid-column: 4 / -1;
			}

			&:not(:hover) dl {
				display: none;
			}
		}
	}


	img {
		flex-basis: 100%;
		aspect-ratio: 1;
		object-fit: cover;
		display: block;
		order: 1;
	}

	article :is(h3, h4) {
		display: none;
	}

	header {
		box-sizing: border-box;
		position: relative;
		display: flex;
		outline: 0px transparent solid;
		outline-offset: calc(-1 * var(--album-selector-width));

		border: var(--album-selector-width) solid white;
		transition: outline 400ms  calc((var(--album-index, 1) - 1) * 40ms), border-width 100ms, opacity 200ms, display allow-discrete;



		&:not(:hover) {
			border-width: 0px;
		}

		@starting-style {
			outline: 2px darkgrey solid;
		}
	}

	nav {
		position: absolute;
		inset-inline: 0;
		top: 0;
		height: auto;
		margin-inline: auto;
		text-align: center;
		font-size: 30px;
		padding-top: calc(100% - 2px);
		white-space: nowrap;
		overflow-y: clip;
		overflow-x: auto;
		scrollbar-width: none;
		scrollbar-color: transparent;


		a {
			color: white;
			text-decoration: none;
			font-size: inherit;
			display: inline-block;
			text-align: center;
			position: static;
			line-height: 0.5;
			background-color: var(--color-accent);
			padding: 2px 0;
			padding-bottom: 10px;

			&:where(:first-child) {
				padding-left: 10px;
				border-bottom-left-radius: 5px;
			}
			&:where(:last-child) {
				padding-right: 10px;
				border-bottom-right-radius: 5px;
			}

			&:where(:only-child) {
				display: none;
			}

			header:not(:hover) & {
				opacity: 0;
			}
		}
	}

	[data-type=album] {
		&:has(header a:nth-child(1):hover) article:nth-of-type(1) dl,
		&:has(header a:nth-child(2):hover) article:nth-of-type(2) dl,
		&:has(header a:nth-child(3):hover) article:nth-of-type(3) dl,
		&:has(header a:nth-child(4):hover) article:nth-of-type(4) dl,
		&:has(header a:nth-child(5):hover) article:nth-of-type(5) dl,
		&:has(header a:nth-child(6):hover) article:nth-of-type(6) dl,
		&:has(header a:nth-child(7):hover) article:nth-of-type(7) dl,
		&:has(header a:nth-child(8):hover) article:nth-of-type(8) dl,
		&:has(header a:nth-child(9):hover) article:nth-of-type(9) dl,
		&:has(header a:nth-child(10):hover) article:nth-of-type(10) dl,
		&:has(header a:nth-child(11):hover) article:nth-of-type(11) dl,
		&:has(header a:nth-child(12):hover) article:nth-of-type(12) dl,
		&:has(header a:nth-child(13):hover) article:nth-of-type(13) dl,
		&:has(header a:nth-child(14):hover) article:nth-of-type(14) dl,
		&:has(header a:nth-child(15):hover) article:nth-of-type(15) dl,
		&:has(header a:nth-child(16):hover) article:nth-of-type(16) dl {
			z-index: 3;
		}
	}
}


.song-list {
	width: 100%;
	display: grid;
	gap: 40px;
	grid-template-columns: minmax(auto, 30vmin) repeat(3, auto);

	article, section {
		display: grid;
		row-gap: 20px;
		grid-template-columns: subgrid;
		grid-column: 1 / -1;
		/* position: relative; */
		align-items: baseline;

		&:hover {
			/* z-index: 1; */
		}

		&:not(:hover) {
			img {
				/* opacity: 0; */
			}
		}
	}

	img {
		position: sticky;
		top: 0;
		bottom: 0;
		margin-top: auto;
		margin-bottom: auto;
		grid-column: 1;
		/* position: fixed; */
	}

	h3 {

		position: sticky;
		z-index: 1;
		top: 0;
		background-color: #2d2731;
		padding: 10px 20px;
	}

	h4 {

		position: sticky;
		top: 0;
		background-color: #2d2731;
		padding: 5px 10px;

		z-index:1;
		grid-column: 2;
	}

	dl {
		display: grid;
		grid-template-columns: subgrid;
		row-gap: 10px;
		grid-column: 3 / -1;
		align-content: start;
		/* grid-template-columns: repeat(6, 1fr); */
		/* display: contents; */
	}

	dt {
		display: none;
	}

	dd {
		/* grid-column: 3; */
	}

	dd:nth-of-type(even) {
		grid-column: 4;
		position: relative;
		/* display: none; */

	}

	dd:nth-of-type(odd) {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			right: calc(100% + 10px);
			width: 90%;
			border: 1px solid #2d2731;
		}
		&:not(:first-of-type):after {
			content: "";
			position: absolute;
			height: 150%;
			top: -100%;
			display: block;
			right: calc(190% + 10px);
			border: 1px solid #2d2731;
		}
	}
}
