body {
	display: flex;

	padding: var(--Row);

	color: #0a0c5b;

	background-color: #F6E5C5;
	background-image: linear-gradient(25deg, #ffd6e7, transparent);
	background-attachment: fixed;
}

body>header {
	position: sticky;
	top: var(--Row);
	align-self: start;
}

/* composition adaptation */

@media (orientation: portrait) {
	body {
		flex-direction: column;
	}

	body>header {
		display: contents;
	}

	body>header>h1 {
		margin: calc(var(--Row) / 2);
	}

	body>header>nav {
		position: sticky;
		bottom: 0;

		overflow-x: auto;
		order: 1;

		margin: 0;
		padding-left: calc(var(--Row) / 2); /* stylelint-disable-line property-disallowed-list */

		border-top: 3px solid currentColor;
	}

	body>header>nav:before {
		content: "...";

		position: sticky;
		right: 0;

		display: flex;
		flex-shrink: 0;
		align-items: center;
		justify-content: end;
		order: 1;

		width: var(--Row);
		padding: 0.5em;

		background-image: linear-gradient(to left, #ffd6e7 60%, #ffd6e700 100%);
	}

	body>header>nav:after {
		content: "";

		position: relative;
		z-index: 1;

		display: flex;
		flex-shrink: 0;
		place-items: center;

		box-sizing: border-box;
		width: var(--Row);
		margin-right: calc(var(--Row) * -2);
		padding-right: calc(var(--Row) / 4);

		background-color: #ffd6e7;
	}

	body>header>nav>a {
		padding: calc(var(--Row) / 2);
	}

	body>header>nav>a:last-child {
		margin-right: calc(var(--Row) / -2);
	}
}

@media (orientation: landscape) {
	body {
		gap: calc(var(--Row) * 2);
	}

	body>header>nav {
		flex-direction: column;
	}
}

/* end--------------- */

