.of-side-by-side-text-code {
	--text-basis: 15rem;
	--code-basis: 30rem;
}

.of-side-by-side-text-code div>* {
	flex-grow: 1;
}

.of-side-by-side-text-code {
	/* stylelint-disable-next-line csstree/validator -- recent property */
	text-wrap: balance;
}

.of-side-by-side-text-code>article div div {
	gap: calc(var(--Row) / 2);
}

.of-side-by-side-text-code>article>div>* {
	flex-basis: var(--text-basis);
	align-content: start;
}

.of-side-by-side-text-code>article>div>*+* {
	flex-basis: var(--code-basis);
}

.of-side-by-side-text-code>article :is(section, header) {
	flex-basis: 100%;
}

.of-side-by-side-text-code>article section {
	line-height: 1;
}

.of-side-by-side-text-code>article section * {
	display: inline;
}

.of-side-by-side-text-code>article ul {
	padding: 0;
}

.of-side-by-side-text-code>article section *:has(+*) {
	margin-right: 0.25em;
}

.of-side-by-side-text-code>article section li:has(+li)::after {
	content: ",";
}

.of-side-by-side-text-code>article section li:has(+li) {
	margin-right: 0.125em;
}

.of-side-by-side-text-code>article aside>div>* {
	flex-basis: var(--text-basis);
	flex-grow: 1;
}

.of-side-by-side-text-code>article aside {
	display: inherit;
	flex-direction: column;
}

.of-side-by-side-text-code>article aside h4+* {
	margin-top: 0;
}

.of-side-by-side-text-code>article aside>div {
	flex-grow: 1;
}


