h3 small {
	margin-left: .75em;
}

[id] {
	scroll-margin: var(--SpacingRow);
}

p code {
	font-size: 0.9em;
}

pre > code.sourceCode { 
	white-space: pre; 
	position: relative;
	display: block;
	line-height: 1.0625;
}

pre > code.sourceCode > span { 
	--ScaleLevel: var(--Shorter);
	line-height: 1;
}
pre > code.sourceCode > span:empty { height: 1.2em; }
.sourceCode { overflow: visible; font-family: "input-mono-narrow", monospace; }
/* code.sourceCode > span { color: inherit; text-decoration: inherit; } */

div.sourceCode { 
	background-color: #222634;
	padding: var(--SpacingThinner);
	border-radius: 6px;
	border-bottom: 1px solid #00000010;
	/* border-bottom-width: 2px; */
	--DivItemGrow: 0;
	--DivItemBasis: 33%;
	min-width: min-content;
	background-image: linear-gradient(180deg, black 71%, transparent);
	background-position: 3px 3px;
	background-size: 98% 96%;
	background-repeat: no-repeat;
	border-bottom: 2px #b16f7a solid;
	border-top: 2px #ffffff solid;
}

pre.sourceCode { margin: 0; }
@media screen {
	div.sourceCode { overflow: auto; }
}
@media print {
	pre > code.sourceCode { white-space: pre-wrap; }
	pre > code.sourceCode > span { text-indent: -5em; padding-left: 5em; }
}
pre.numberSource code
{ counter-reset: source-line 0; }
pre.numberSource code > span
{ position: relative; left: -4em; counter-increment: source-line; }
pre.numberSource code > span > a:first-child::before
{ content: counter(source-line);
	position: relative; left: -1em; text-align: right; vertical-align: baseline;
	border: none; display: inline-block;
	-webkit-touch-callout: none; -webkit-user-select: none;
	-khtml-user-select: none; -moz-user-select: none;
	-ms-user-select: none; user-select: none;
	padding: 0 4px; width: 4em;
	color: #aaaaaa;
}
pre.numberSource { margin-left: 3em; border-left: 1px solid #aaaaaa;  padding-left: 4px; }
div.sourceCode
{   }
@media screen {
	pre > code.sourceCode > span > a:first-child::before { text-decoration: underline; }
}
:not(p)>code span { color: #c6d0f5; } /* Normal */
:not(p)>code span.al { color: #e78284; font-weight: bold; } /* Alert */
:not(p)>code span.an { color: #e5c890; } /* Annotation */
:not(p)>code span.at { color: #babbf1; } /* Attribute */
:not(p)>code span.bn { color: #e78284; } /* BaseN */
:not(p)>code span.bu { color: #e78284; } /* BuiltIn */
:not(p)>code span.cf { color: #ca9ee6; } /* ControlFlow */
:not(p)>code span.ch { color: #f4b8e4; } /* Char */
:not(p)>code span.cn { color: #8caaee; } /* Constant */
:not(p)>code span.co { color: #737994; font-style: italic; } /* Comment */
:not(p)>code span.cv { color: #737994; font-style: italic; } /* CommentVar */
:not(p)>code span.do { color: #e78284; } /* Documentation */
:not(p)>code span.dt { color: #ca9ee6; } /* DataType */
:not(p)>code span.dv { color: #ef9f76; } /* DecVal */
:not(p)>code span.er { color: #e78284; text-decoration: underline; } /* Error */
:not(p)>code span.ex { color: #8caaee; } /* Extension */
:not(p)>code span.fl { color: #ef9f76; } /* Float */
:not(p)>code span.fu { color: #8caaee; } /* Function */
:not(p)>code span.im { color: #a6d189; } /* Import */
:not(p)>code span.in { color: #ef9f76; } /* Information */
:not(p)>code span.kw { color: #ca9ee6; } /* Keyword */
:not(p)>code span.op { color: #99d1db; } /* Operator */
:not(p)>code span.ot { color: #ef9f76; } /* Other */
:not(p)>code span.pp { color: #f4b8e4; } /* Preprocessor */
:not(p)>code span.re { color: #737994; font-style: italic; } /* RegionMarker */
:not(p)>code span.sc { color: #f4b8e4; } /* SpecialChar */
:not(p)>code span.ss { color: #e78284; } /* SpecialString */
:not(p)>code span.st { color: #a6d189; } /* String */
:not(p)>code span.va { color: #f4b8e4; } /* Variable */
:not(p)>code span.vs { color: #e78284; } /* VerbatimString */
:not(p)>code span.wa { color: #ef9f76; } /* Warning */

