@layer compositions {
	.bottom-nav-sliding-content,
	.bottom-nav-sliding-content body,
	.bottom-nav-sliding-content body>main,
	.bottom-nav-sliding-content body>main>* {
		width: 100%;
		height: 100%;
	}

	.bottom-nav-sliding-content body {
		flex-direction: column;
	}

	.bottom-nav-sliding-content body>main {
		display: inherit;
		flex-basis: 0;
		flex-direction: row;
		overflow-x: auto; 
		border-top: var(--type-relative-border-width) solid currentColor;
		scroll-snap-type: x mandatory;
	}

	.bottom-nav-sliding-content body>main>* {
		position: relative;
		flex-shrink: 0;
		box-sizing: border-box;
		margin: 0;
		padding: var(--SpacingRow) var(--SpacingThinner);
		overflow-y: auto;
		scroll-snap-align: start;
	}
	.bottom-nav-sliding-content body>main>div {
		flex-direction: column;
	}

	.bottom-nav-sliding-content body>header {
		display: contents;
	}

	.bottom-nav-sliding-content body>header>h1 {
		margin: var(--SpacingThinner);
	}

	.bottom-nav-sliding-content body>header>nav {
		position: sticky;
		bottom: 0;
		order: 1;

		margin: 0;
		padding-left: var(--SpacingThinner);

		overflow-x: auto;
		border-top: 3px solid currentColor;
	}

	.bottom-nav-sliding-content body>header>nav:before {

		position: sticky;
		right: 0;
		display: flex;
		flex-shrink: 0;
		align-items: center;
		justify-content: end;
		order: 1;

		background-image: linear-gradient(to left, #ffd6e7 60%, #ffd6e700 100%);
		width: var(--SpacingRow);
		padding: var(--SpacingMicro);
		content: "...";
	}

	.bottom-nav-sliding-content body>header>nav:after {

		position: relative;
		z-index: 1;
		display: flex;
		flex-shrink: 0;

		box-sizing: border-box;
		background-color: #ffd6e7;
		width: var(--SpacingRow);
		margin-right: calc(var(--SpacingBroadest) * -1);
		padding-right: var(--SpacingThinnest);
		content: "";
		place-items: center;
	}

	.bottom-nav-sliding-content body>header>nav>a {
		padding: var(--SpacingThinner);
	}

	.bottom-nav-sliding-content body>header>nav>a:last-child {
		margin-right: calc(var(--SpacingThinner) * -1);
	}
}
