@layer compositions {
	.side-nav-main-pile {
		display: flex;
		min-height: 100%;
	}

	.side-nav-main-pile body {
		--max-content-width: 120ch;

		flex-grow: 1;
		gap: var(--SpacingBroadest);
		margin: var(--SpacingRow);
	}

	.side-nav-main-pile body>header {
		position: sticky;
		top: var(--SpacingRow);
		align-self: start;
	}

	.side-nav-main-pile h1 {
		position: relative;
		top: -0.1em;
	}

	.side-nav-main-pile body>header>nav {
		flex-direction: column;
		margin-top: var(--SpacingBroadest);
	}

	.side-nav-main-pile body>main {
		margin-top: var(--SpacingBroad);
		padding-top: var(--SpacingBroader);
		border-top: var(--type-relative-border-width) solid currentColor;
	}

	.side-nav-main-pile body>main>* {
		max-width: var(--max-content-width);
		margin-right: auto;
		margin-left: auto;
	}
}
