@layer regions {
	body {
		display: flex;

		color: var(--Color);
		background-color: var(--ColorBg);
		background-image: linear-gradient(25deg, var(--ColorSupport), transparent);
		background-attachment: fixed;
	}
}
