@layer regions {
	body {
		display: flex;

		padding: var(--Row);
		color: #0a0c5b;
		background-color: #F6E5C5;
		background-image: linear-gradient(25deg, #ffd6e7, transparent);
		background-attachment: fixed;
	}
}
