.of-side-by-side-text-code {}
.of-side-by-side-text-code div>* {
	flex-grow: 1;
}

.of-side-by-side-text-code {
	text-wrap: balance;
}

.of-side-by-side-text-code>article div div {
	gap: calc(var(--Row) / 2);
}

.of-side-by-side-text-code>article>div {
	/* align-items: baseline; */
}

.of-side-by-side-text-code>article>div>* {
	flex-basis: 15rem;
	align-content: start;
}

.of-side-by-side-text-code>article>div>*+* {
	flex-basis: 30rem;
}

.of-side-by-side-text-code>article :is(section, header) {
	flex-basis: 100%;
}

.of-side-by-side-text-code>article section {
	line-height: 1;
}

.of-side-by-side-text-code>article section * {
	display: inline;
	padding: 0;
}

.of-side-by-side-text-code>article section *:has(+*) {
	margin-right: 0.25em;
}

.of-side-by-side-text-code>article section li:has(+li)::after {
	content: ",";
}

.of-side-by-side-text-code>article section li:has(+li) {
	margin-right: 0.125em;
}

.of-side-by-side-text-code>article aside>div>* {
	flex-basis: 15rem;
	flex-grow: 1;
}

.of-side-by-side-text-code>article aside {
	display: inherit;
	flex-direction: column;
}

.of-side-by-side-text-code>article aside h4 {
	display: none;
}

.of-side-by-side-text-code>article aside h4+* {
	margin-top: 0;
}

.of-side-by-side-text-code>article aside>div {
	flex-grow: 1;
}

p code {
	font-size: 0.9em;
}

pre > code.sourceCode { 
	white-space: pre; 
	position: relative;
	display: block;
	line-height: 1.0625;
}

pre > code.sourceCode > span { 
	--ScaleLevel: var(--Shorter);
	line-height: 1;
}
pre > code.sourceCode > span:empty { height: 1.2em; }
.sourceCode { overflow: visible; font-family: "input-mono-narrow", monospace; }
/* code.sourceCode > span { color: inherit; text-decoration: inherit; } */

div.sourceCode { 
	background-color: #222634;
	padding: calc(var(--Row) / 2);
	border-radius: 6px;
	border-bottom: 1px solid #00000010;
	/* border-bottom-width: 2px; */
	--DivItemGrow: 0;
	--DivItemBasis: 33%;
	min-width: min-content;
	background-image: linear-gradient(180deg, black 71%, transparent);
	background-position: 3px 3px;
	background-size: 98% 96%;
	background-repeat: no-repeat;
	border-bottom: 2px #b16f7a solid;
	border-top: 2px #ffffff solid;
}

pre.sourceCode { margin: 0; }
@media screen {
	div.sourceCode { overflow: auto; }
}
@media print {
	pre > code.sourceCode { white-space: pre-wrap; }
	pre > code.sourceCode > span { text-indent: -5em; padding-left: 5em; }
}
pre.numberSource code
{ counter-reset: source-line 0; }
pre.numberSource code > span
{ position: relative; left: -4em; counter-increment: source-line; }
pre.numberSource code > span > a:first-child::before
{ content: counter(source-line);
	position: relative; left: -1em; text-align: right; vertical-align: baseline;
	border: none; display: inline-block;
	-webkit-touch-callout: none; -webkit-user-select: none;
	-khtml-user-select: none; -moz-user-select: none;
	-ms-user-select: none; user-select: none;
	padding: 0 4px; width: 4em;
	color: #aaaaaa;
}
pre.numberSource { margin-left: 3em; border-left: 1px solid #aaaaaa;  padding-left: 4px; }
div.sourceCode
{   }
@media screen {
	pre > code.sourceCode > span > a:first-child::before { text-decoration: underline; }
}
code span { color: #c6d0f5; } /* Normal */
code span.al { color: #e78284; font-weight: bold; } /* Alert */
code span.an { color: #e5c890; } /* Annotation */
code span.at { color: #babbf1; } /* Attribute */
code span.bn { color: #e78284; } /* BaseN */
code span.bu { color: #e78284; } /* BuiltIn */
code span.cf { color: #ca9ee6; } /* ControlFlow */
code span.ch { color: #f4b8e4; } /* Char */
code span.cn { color: #8caaee; } /* Constant */
code span.co { color: #737994; font-style: italic; } /* Comment */
code span.cv { color: #737994; font-style: italic; } /* CommentVar */
code span.do { color: #e78284; } /* Documentation */
code span.dt { color: #ca9ee6; } /* DataType */
code span.dv { color: #ef9f76; } /* DecVal */
code span.er { color: #e78284; text-decoration: underline; } /* Error */
code span.ex { color: #8caaee; } /* Extension */
code span.fl { color: #ef9f76; } /* Float */
code span.fu { color: #8caaee; } /* Function */
code span.im { color: #a6d189; } /* Import */
code span.in { color: #ef9f76; } /* Information */
code span.kw { color: #ca9ee6; } /* Keyword */
code span.op { color: #99d1db; } /* Operator */
code span.ot { color: #ef9f76; } /* Other */
code span.pp { color: #f4b8e4; } /* Preprocessor */
code span.re { color: #737994; font-style: italic; } /* RegionMarker */
code span.sc { color: #f4b8e4; } /* SpecialChar */
code span.ss { color: #e78284; } /* SpecialString */
code span.st { color: #a6d189; } /* String */
code span.va { color: #f4b8e4; } /* Variable */
code span.vs { color: #e78284; } /* VerbatimString */
code span.wa { color: #ef9f76; } /* Warning */

